utility::url encoding for non-IP-based schemes

Version: fc69321d

```
#include <iostream>
#include <vmime/utility/url.hpp>
int main()
{
        std::cout << static_cast<std::string>(vmime::utility::url("mailto", "foo@bar.com")) << "\n";
}
```

Observed output:

```
mailto://foo%40bar.com
```

Expected output:

```
mailto:foo@bar.com
```

**Is this even supposed to work?** The 6-argument constructor of utility::url suggests that utility::url is only meant for IP-based schemes (and `mailto:` is *not* one of those).

(Based on RFC 1738 §3.1: )

>the syntax for the rest of the URL may vary depending on the particular scheme selected, URL schemes that involve the direct use of an IP-based protocol to a specified host on the Internet use […] [the double slash]
