emailAddress parser calls getHostName when domain is empty

According to [RFC2822 section 3.4.1](https://tools.ietf.org/html/rfc2822#section-3.4.1):

> An addr-spec is a specific Internet identifier that contains a
> locally interpreted string followed by the at-sign character ("@",
> ASCII value 64) followed by an Internet domain.

For some reason vmime allows empty domain or even a lack of '@' sign. Instead vmime asks DNS for local hostname.

https://github.com/kisli/vmime/blob/b55bdc9/src/vmime/emailAddress.cpp#L543-L546

For me an expected behavior is that any parser should not make any network connections. Additionally if domain part is missing, it should be a parsing error.

I just got hit with this.  Will try to get the patch put into a PR over the next day or two.  May need to untangle it from other open PRs/patches we have applied first.