Wrong encoding of line breaks in Quoted-Printable encoding

It seems that all mails are send as quoted-printable, but all line breaks are send as "=0D=0A" instead of just "\r\n", and that is just wrong for text. It does make sense for non-text parts, but you have "Content-Type: text/plain". You should just send it as \r\n

Please see RFC2045 section 6.7 (4).
