utility::url encoding IPv6 wrong

Version: fc69321d

```
#include <iostream>
#include <vmime/utility/url.hpp>
int main()
{
        std::cout << static_cast<std::string>(vmime::utility::url("http", "::1", 80)) << "\n";
}
```

Observed output:

```
http://%3A%3A1:80
```

Expected output:

```
http://[::1]:80
```

Even though RFC 1738 §2.2 says

>octets may be encoded by a character triplet consisting of the character "%" followed by the two hexadecimal digits

Internet Protocol-based schemes such as `http` use hostnames, which are limited by RFC 1035 §2.3.1 p8, so `%` is not allowed in them under any circumstances. Firefox for example does not recognize http://%3A%3A1:80/ when pasted into the location bar, either.